/*颜色框*/
.el-color-picker.validate-error,
/*radio框*/
.el-radio-group.validate-error,
/*checkbox框*/
.el-checkbox-group.validate-error {
    border: 1px solid;
}

input.validate-error,
textarea.validate-error,
.validate-error input,
.validate-error textarea,
.el-color-picker.validate-error,
.el-radio-group.validate-error,
.el-checkbox-group.validate-error {
    border-color: #ff4949;
}

.required:before {
    content: "*";
    color: #ff4949;
    position: absolute;
    top: 5px;
    right: -15px;
    font-size: 20px;
}