/*loading*/
.el-loading-mask {
    background-color: rgba(255, 255, 255, .5);
}

.el-loading-spinner .el-loading-text {
    color: #001529;
}

.el-loading-spinner .path {
    stroke: #001529;
}

/*过渡修改*/
.fade-enter-active, .fade-leave-active {
    transition: opacity .3s ease;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

/*提示*/
.el-tooltip__popper {
    max-width: 50%;
}

/*栅格*/
.el-col {
    margin-bottom: 12px;
}

/*上传*/
.el-upload {
    display: block;
}

.el-upload-dragger {
    width: 100%;
}

/*按钮组*/
.el-button-group {
    white-space: nowrap;
}

/*tabs的横向滚动*/
.el-scrollbar__wrap {
    box-sizing: content-box;
}

/*select框下拉*/
.el-select-dropdown__item span {
    padding-right: 20px;
}

.el-dropdown-menu--mini {
    padding: 5px;
}

/*下拉*/
.el-popper[x-placement^=bottom] {
    margin-top: 5px;
}

/*表格单元格*/
.el-table .cell {
    line-height: 148%;
    word-break: normal;
}

/*弹窗*/
.el-dialog__wrapper {
    overflow: hidden;
}

.el-dialog {
    margin: 0 auto !important;
    max-height: 90%;
    top: 50%;
    transform: translateY(-50%);
    overflow: auto;
}

/*表单*/
.el-select .el-input__inner {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*!*change ElementUI add*!*/
/*.el-block {*/
/*display: block;*/
/*width: 100%;*/
/*}*/

/*!*change ElementUI dialog*!*/
/*.el-dialog {*/
/*top: 50% !important;*/
/*left: 50%;*/
/*max-height: 80%;*/
/*margin-bottom: 0;*/
/*overflow: auto;*/
/*transform: translate(-50%, -50%);*/
/*}*/

/*.el-dialog .el-form > .el-form-item:last-child {*/
/*margin-bottom: 0;*/
/*}*/

/*.el-dialog .el-form .el-dialog__title {*/
/*margin-bottom: 15px;*/
/*}*/

/*.el-form .el-date-editor.el-input,*/
/*.el-form .el-cascader,*/
/*.el-form .el-select {*/
/*width: 100%;*/
/*}*/

/*.el-dialog--tiny {*/
/*width: 40%;*/
/*}*/

/*.el-dialog--small {*/
/*width: 60%;*/
/*}*/

/*.el-dialog--large {*/
/*width: 80%;*/
/*}*/

/*.el-dialog__body {*/
/*padding: 20px;*/
/*}*/

/*.el-checkbox-group {*/
/*margin: 20px 0;*/
/*}*/

/*!*change ElementUI loading*!*/
/*.el-loading-mask {*/
/*background-color: rgba(255, 255, 255, .5);*/
/*}*/

/*!*change ElementUI ellipsis*!*/
/*.el-input__inner,*/
/*.el-col {*/
/*white-space: nowrap;*/
/*text-overflow: ellipsis;*/
/*overflow: hidden;*/
/*}*/

/*!*change ElementUI radio*!*/
/*.el-radio-group {*/
/*width: 100%;*/
/*}*/

/*!*change ElementUI timepicker*!*/
/*.el-picker-panel,*/
/*.el-scrollbar__wrap {*/
/*box-sizing: content-box;*/
/*}*/

/*!*change ElementUI form*!*/
/*.el-col .el-form-item__content {*/
/*line-height: inherit;*/
/*}*/

/*!*change ElementUI BUG*!*/
/*.el-switch__label,*/
/*.el-switch__core .el-switch__button,*/
/*.el-collapse-item__header__arrow,*/
/*.el-form-item__error,*/
/*.el-checkbox__inner:after,*/
/*.el-cascader .el-icon-caret-bottom,*/
/*.el-select .el-input .el-input__icon {*/
/*transition: transform 0s;*/
/*}*/