/*Layout*/
.main-section {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 200px;
    right: 0;
    transition: left .3s ease-in-out;
}

.main-section .page {
    position: relative;
    height: 100%;
    overflow: auto;
}

/*SideBar*/
.main-aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    white-space: nowrap;
    transition: width .3s ease-in-out;
    background-color: #001529;
    z-index: 99;
}

.main-aside .aside-header {
    position: relative;
    height: 60px;
    color: #ffffff;
    border-bottom: 1px solid #595e62;
    background-color: inherit;
}

.main-aside .aside-header label {
    margin-left: 20px;
    font-size: 16px;
    line-height: 60px;
}

.main-aside .aside-header i.fa {
    position: absolute;
    right: 0;
    padding: 23px;
    cursor: pointer;
}

.main-aside .scroll-layer {
    top: 60px;
    z-index: -1;
}

/*SideBar element-ui*/

.main-layout .el-menu {
    width: 200px;
    border-right: none;
    background-color: inherit;
}

.main-layout .el-menu.el-menu--collapse {
    width: 64px;
}

.main-layout .el-menu li {
    border-bottom: 1px solid #595e62;
}

.main-layout .el-submenu .el-menu-item {
    padding: 0 20px !important;
}

.main-layout .el-submenu .el-menu li {
    border-bottom: none;
}

.main-layout .el-menu .fa {
    margin-right: 5px;
}

.main-layout .el-menu-item i,
.main-layout .el-submenu__title i {
    color: inherit;
}

.main-layout .el-menu-item,
.main-layout .el-submenu__title {
    color: #888;
}

.main-layout .el-menu-item.is-active,
.main-layout .el-menu-item:hover,
.main-layout .is-active .el-submenu__title,
.main-layout .el-submenu__title:hover {
    color: #fff;
    background-color: #409eff;
}

.main-layout .el-menu--popup {
    padding: 0;
    background-color: #001529;
}

.main-layout.collapse .main-aside {
    width: 64px;
}

.main-layout.collapse .main-header {
    left: 64px;
}

.main-layout.collapse .main-section {
    left: 64px;
}

/*TopBar*/
.main-header {
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    height: 60px;
    color: #001529;
    padding: 0 20px;
    background-color: #ffffff;
    transition: left .3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .head-bell {
    margin-right: 30px;
    cursor: pointer;
}

.main-header .header-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-header .header-info {
    white-space: nowrap;
}

.main-header .header-user {
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
}

.main-header .header-user img {
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-header .notice h3 {
    margin: 10px auto;
}

.main-header .notice h3 a {
    float: right;
    color: #409eff;
    font-size: 12px;
    line-height: 22px;
}

.main-header .notice h3 a i {
    margin-left: 5px;
}

.main-header .notice li {
    width: 300px;
    padding: 10px 0;
    line-height: 150%;
    border-bottom: 1px solid #ebeef5;
}

.main-header .notice li:last-child {
    border-bottom: 0;
}

.main-header .notice li:after {
    content: '';
    display: table;
    clear: both;
}

.main-header .notice li span {
    float: right;
    margin-left: 20px;
}

.main-header .notice-right {
    left: auto !important;
    right: 0;
}

/*TabList*/
.main-tabs {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.main-tabs + .page {
    padding-top: 40px;
}

.main-tabs.tab + .page {
    padding-top: 80px;
}

/*TabList ElementUI*/
.main-layout .el-tabs {
    background-color: #ffffff;
}

.main-layout .el-tabs__header {
    margin: 0;
}

.main-layout .el-tabs__nav-wrap.is-scrollable {
    padding: 0 30px;
}

.main-layout .el-tabs__nav-next, .el-tabs__nav-prev {
    width: 30px;
    line-height: 42px;
    text-align: center;
}

.main-layout .el-tabs__nav-next {
    border-left: 1px solid #d9d9d9;
}

.main-layout .el-tabs__nav-prev {
    border-right: 1px solid #d9d9d9;
}

.main-layout .el-tabs--border-card {
    border-bottom: 0;
    box-shadow: none;
}

.main-layout .el-tabs--border-card > .el-tabs__content {
    padding: 0;
}
